@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_arrow_left,keyboard_arrow_right');

/* Definición de la fuente Publico Headline Bold */
@font-face {
    font-family: 'Publico Headline Web';
    src: url('https://res.cloudinary.com/ddqbnr9vo/raw/upload/v1750205338/PublicoHeadline-Bold-Web_nphjdn.woff2') format('woff2'),
         url('/fonts/PublicoHeadline-Bold-Web.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Definición de la fuente Source Sans Pro Regular */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://www.axacolpatria.co/documents/42201273/155366192/SourceSansPro-Regular.ttf/4ff1b5f3-abcb-52d8-dd46-463566ab8bdb?t=1753376220230') format('truetype');
    font-weight: 400;
    font-style: normal;
}
